body{
    margin: 0;
}

main{
    margin-left: 6px;
}

.botao{  
    color: #ffffffef;
    font-weight: bold;
    padding: 0 5px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: #db202c;
    border: solid 1px #db202c;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.mh-search-input{
    width: 600px;
}

.menu-header-search input{
    border-radius: 5px 0 0 5px !important;
}

.menu-header-search span{
    margin-right: 1ch;
    font-size: 0.8em;
}

.menu-header-search{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav{
    background-color: black;
    margin-bottom: 10px;
}

.logo{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div img{
    width: 200px;
}