body{
    background-color: black;
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'main main main main'
                         /* 'aside aside aside aside' */
                         'footer footer footer footer';
    grid-template-rows: 15vh 70vh 40vh;
}

main{
    grid-area: main;
    margin-left: 6px;
}

.botao{  
    color: #ffffffef;
    font-weight: bold;
    padding: 0 5px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: #db202c;
    border: solid 1px #db202c;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.mh-search-input{
    width: 600px;
}

.menu-header-search input{
    border-radius: 5px 0 0 5px !important;
}

.menu-header-search span{
    margin-right: 1ch;
    font-size: 0.8em;
}

.menu-header-search{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav{
    grid-area: nav;
    display: flex;
    height: 80px;
    background-color: black;
    margin-bottom: 10px;
}

.logo{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div img{
    width: 200px;
}

.fotinha img{
    width: 200px;
    height: 290px;
    margin-bottom: 20px;
}

.textinho{
    width: 70%;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.caixinha{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

/* aside{
    grid-area: aside;
} */

footer{
    grid-area: footer;
}

@media(max-width: 768px){
    body{
        grid-template-areas: 'nav nav nav'
                             'main main main'
                             'footer footer';
        grid-template-rows: 15vh 70vh 40vh;
    }
    .textinho{
        width: 30%;
        font-size: 10pt;
    }
    .logo{
        margin-left: 250px;
        width: 30%;
    }
    .menu-header-search{
        display: none;
    }
}

@media(max-width: 425px){
    body{
        grid-template-areas: 'nav nav nav nav nav'
                             'main main main main main'
                             'footer footer footer footer footer';
        grid-template-rows: 15vh 70vh 40vh;
    }
    .textinho{
        width: 45%;
        font-size: 10pt;
    }
    .logo{
        /* display: flex; */
        margin-left: 150px;
        width: 30%;
    }
    .menu-header-search{
        display: none;
    }
}